
<body class="dashBody" ng-controller="chatControl">
    <button type="button" class="logoutButton" ng-click="logout()">Logout</button>
    <div class="allUsers">
        <center>
            <h2> All Users </h2>
        </center>
        <hr>
        <p ng-repeat="x in allUser" ng-click="person(x)" ng-show="currUserName != x.firstname">
            {{x.firstname}}</p>
    </div>
    <div class="main">
    </div>
    <div class="chatBox">
        <div class="groupChat">
               
            <p class="usernamecss">Welcome {{currUserName}}</p>
        </div>
        {{message}}
        <div class="buttonSend"><button ng-click="sendMsg()">sendMsg</button></div>
    </div>
    
    </script>
</body>

</html>